import(methods)
import(Biobase)
import(GenomicRanges)

exportClasses(EpivizDeviceMgr,
			  EpivizDevice,
			  EpivizTrackDevice,
			  EpivizFeatureDevice,
			  EpivizBlockDevice,
			  EpivizBpDevice,
			  EpivizGeneDevice)

export(startEpiviz)
