import(Biobase)
import(GenomicRanges)
import(httpuv)

exportClasses(EpivizDeviceMgr,
			  EpivizData,
			  EpivizTrackData,
			  EpivizFeatureData,
			  EpivizBlockData,
			  EpivizBpData)

export(startEpiviz)
